@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  --blue-color: #03559d;
  --light-gray-color: #aaaaaa;
  --dark-gray-color: #333333;
  --white-color: #ffff;
  --dark-blue-color: #343d45;
  --sliver-color: #fafafa;
}

body {
  font-family: "Raleway", sans-serif;
}

ul {
  margin-bottom: 0px;
  padding-left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px;
}
/* header-css */
header .top-header {
  background-color: var(--sliver-color);
  padding: 5px 0px;
}
header .top-header ul {
  margin-bottom: 0px;
}
header .top-header ul li {
  list-style-type: none;
}

header .top-header ul li a {
  text-decoration: none;
}

header .top-header .left-side li:last-of-type {
  margin-left: 15px;
}

header .top-header .left-side a {
  font-size: 14px;
  font-weight: normal;
  color: var(--dark-gray-color);
  text-transform: capitalize;
}

header .top-header .left-side i {
  color: var(--blue-color);
}

header .top-header a {
  text-decoration: none;
}

header .top-header .right-side a {
  font-size: 12px;
  font-weight: normal;
  padding: 13px;
  color: var(--light-gray-color);
}

header .top-header .right-side a:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

/* bottom-header-css */

header .bottom-header {
  margin: 20px 0px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 3px;
  margin-left: 25px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--blue-color);
  border-bottom: 2px solid var(--blue-color);
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: var(--blue-color);
  border-bottom: 2px solid var(--blue-color);
}

header .bottom-header .search-btn {
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  color: var(--dark-gray-color);
  background-color: transparent;
  border: transparent;
  margin-left: 10px;
  border-bottom: 2px solid transparent;
  padding-top: 5px;
}

header .bottom-header .search-btn:hover {
  color: var(--blue-color);
  border-bottom: 2px solid var(--blue-color);
}
/* End-bottom-header-css */

/* End-header-css */

/* hero-section */

.home-page .hero-section {
  margin-top: 10px;
  background-color: var(--dark-blue-color);
}

.home-page .hero-section .carousel-item img{
  height: 700px;
}

.home-page .hero-section .text-content {
  position: absolute;
  top: 260px;
  text-align: center;
}

.home-page .hero-section h6 {
  color: var(--white-color);
  font-weight: 400;
  font-size: 36px;
}

.home-page .hero-section h2 {
  color: var(--white-color);
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.home-page .hero-section p {
  color: var(--white-color);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.home-page .hero-section .blue-btn {
  margin-top: 35px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  padding: 10px 30px;
  margin-right: 5px;
}

.home-page .hero-section .blue-btn:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  border: 1px solid transparent;
}

.home-page .hero-section .carousel-indicators {
  bottom: 100px;
}

.home-page .hero-section .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffff;
  margin-right: 12px;
  border: 2px solid transparent;
  opacity: 1;
}
.home-page .hero-section .carousel-indicators [data-bs-target].active {
  background-color: var(--blue-color);
  border: 2px solid var(--white-color);
}

.home-page .hero-section .carousel-control-prev-icon {
  background-image: url("../images/home-page-left_arrow.png");
  width: 1.5rem;
  height: 2.5rem;
}

.home-page .hero-section .carousel-control-next-icon {
  background-image: url("../images/home-page-right_arrow.png");
  width: 1.5rem;
  height: 2.5rem;
}


.home-page .hero-section button.carousel-control-prev 
{
    opacity: 1;
}

.home-page .hero-section button.carousel-control-next 
{
    opacity: 1;
}

/* End hero-section */

/* section-2 */

.home-page .section-2{
  background-color: #f5f5f5;

}

.home-page .section-2 .about-section{
  background-image: url("../images/Layer\ 7\ copy.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 30px;
  padding-bottom: 50px;
}

.home-page .section-2 .card-row{
    position: relative;
    top: -80px;

}

.home-page .section-2 .card{
  position: relative;
  height: 310px;
  width: 100%;
  border: 0px;
  border-radius: 0px;

}

.home-page .section-2 .card:hover{
  cursor: pointer;
}



.home-page .section-2  .card .log img{
  filter: invert(1);
}

.home-page .section-2  .card:hover .log img{
  filter: invert(0);
}
.home-page .section-2 .col-xl-4:nth-of-type(1) .card{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.home-page .section-2 .col-xl-4:nth-of-type(3) .card-body{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.home-page .section-2 .col-xl-4:nth-of-type(3) .card{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.home-page .section-2 .card::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.1;

}

.home-page .section-2 .col-xl-4:nth-of-type(1) .card::before{
  background-image: url("../images/home-page-section-2-card-img-1.jpg");
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-position-x: -100px;

}

.home-page .section-2 .col-xl-4:nth-of-type(2) .card::before{
  background-image: url("../images/home-page-section-2-card-img-2.jpg");
}

.home-page .section-2 .col-xl-4:nth-of-type(3) .card::before{
  background-image: url("../images/home-page-section-2-card-img-3.jpg");
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.home-page .section-2 .card:hover::before{
  opacity: 1;
}


.home-page .section-2 .col-xl-4:nth-of-type(1) .card-body{
  border-top-left-radius: 20px;
  border-bottom-left-radius:20px;
}

.home-page .section-2 .col-xl-4:nth-of-type(3) .card-body{
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px;
}


.home-page .section-2 .card:hover .card-body{
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #03559d;
  opacity: 0.9;

}

.home-page .section-2 .card:hover .card-body{
  color: var(--white-color);
}



.home-page .section-2 .card .card-body{
  padding: 20px 0px;
  text-align: center;
}

.home-page .section-2 .card-title {
  margin: 0px 0px ;
  font-weight: 400;
  font-size: 30px;
  text-transform: capitalize;
  padding-top: 30px;
 
}

.home-page .section-2 .card hr {
  color: inherit;
  border-top: var(--bs-border-width) solid;
  opacity: 1;
  width: 70px;
  border-width: 2px;
  margin: 10px auto;

}
.home-page .section-2 .card-text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  
}

.home-page .section-2 .card a{
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--dark-gray-color);
  color: var(--dark-gray-color);
  padding: 5px 15px;
 
  
}

.home-page .section-2 .card:hover a{
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

.home-page  .about-section{
  margin-top: 0px;

}

.home-page .about-section h2{
  font-size: 50px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--blue-color);
  padding: 35px 0px;
}

.home-page .about-section span{
  font-size: 50px;
  font-weight: 400;
  color: var(--dark-gray-color);
}

.home-page .about-section p{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  color: #343d45;
  margin: 25px 0px;
}
.home-page .about-section ul {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  
}
.home-page .about-section ul li{
  list-style-type: none;
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
  margin-right: 15px;
  color: #343d45;
}

.home-page .about-section button{
  margin-top: 20px;
  padding: 15px 40px;
  background-color: var(--blue-color);
  border: transparent;
  border-radius: 12px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

/* End section-2 */

/* section-3 */
.home-page .section-3{
  background-image: url("../images/home-page-section-3-bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0px;
}

.home-page .section-3 .row{
  margin-top: 70px;
}

.home-page .section-3 h2{
  font-size: 60px;
  font-weight: 400;
  color: var(--white-color);
  text-transform: capitalize;
  text-align: center;
}

.home-page .section-3 img{
  border-radius: 50%;
  border: 2px solid var(--white-color);
}

.home-page .section-3 .sign img{
  border: 0px;
}

.home-page .section-3 h5{
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  color: var(--white-color);
  text-transform: capitalize;
  margin: 20px;
}

.home-page .section-3 hr{
  color: inherit;
  border-top: var(--bs-border-width) solid var(--white-color);
  opacity: 1;
  width: 70px;
  border-width: 2px;
  margin: 10px auto;
}

.home-page .section-3 p{
  position: relative;
  font-size:26px;
  font-weight: 300;
  line-height: 32px;
  color: var(--white-color);

}

.home-page .section-3 i.fa-solid.fa-quote-left{
  position:absolute;
  font-size:35px;
  left: -40px;
  top: -10px;

}

.home-page .section-3 i.fa-solid.fa-quote-right{
  position:absolute;
  font-size:35px;
  bottom: -10px;
  padding-left: 5px;

}



.home-page .section-3 .carousel-control-prev-icon {
  background-image: url(../images/arrow\ bottom-2.png);
}

.home-page .section-3 .carousel-control-next-icon {
  background-image: url("../images/arrow\ bottom-3.png");
}

.home-page .section-3 button.carousel-control-prev 
{
  bottom: 80px;
  opacity: 1;
  position: absolute;
}

.home-page .section-3 button.carousel-control-next 
{
  bottom: 80px;
  opacity: 1;
  position: absolute;
}



/* End-section-3 */

/* section-4 */
.home-page .section-4 h2{
  margin: 60px;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: var(--blue-color);
  text-transform: capitalize;
}
.home-page .section-4 span{
  display: block;
  border-top: 3px solid black;
  width: 70px;
  margin: 0 auto 5px;
  text-align: center;

}


.home-page .section-4 span>img{
  margin-top: -28px;
  width: 15px;
}

.home-page .section-4 .box{
background-color: #fafafa;
margin: 20px 20px;
border-radius: 10px;
border: 1px solid #f2eeee;
}

.home-page .section-4 .box .inner-box{
  padding: 35px 10px 20px;
  position: relative;
  left: -50px;
}

.home-page .section-4 .box  ul{
  padding: 30px 25px;
}

.home-page .section-4 .box  ul li{
padding: 5px 0px;
list-style-type: none;
}

.home-page .section-4 .box  ul li a{
text-decoration: none;
color: var(--blue-color);
font-size: 15px;
font-weight: 400;
  
}

.home-page .section-4 .box h5{
  color: var(--blue-color);
  font-size: 19px;
  font-weight: 600;
  text-transform: capitalize;
}

.home-page .section-4 .box p{
color: var(--light-gray-color);
font-size: 14px;
line-height: 15px;
font-weight: 400;
text-transform: capitalize;
}

.home-page .section-4 .box .text{
  padding: 0px 30px 25px;
}

.home-page .section-4 .box:hover{
  cursor: pointer;
  background: rgb(229,228,238);
background: linear-gradient(170deg, rgba(229,228,238,1) 0%, rgba(24,97,162,1) 100%, rgba(32,32,135,1) 100%);
}

.home-page .section-4 .box:hover h5{
  color: var(--white-color);
}

.home-page .section-4 .box:hover a{
  color: var(--white-color);
}

.home-page .section-4 .box:hover p{
  color: var(--white-color);
}
/* section-4 */


/* section-5 */

.home-page .section-5{
  margin-top: 40px;
}

.home-page .section-5 .overlay-container{
  background: url('../images/home-page-section-5-bg-img.png') ; /* URL of your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: unset;

}



.home-page .section-5 h2{
  padding-top: 70px;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  
}
.home-page .section-5 .hr{
  width: 72px;
  border-top: 1.5px solid #ffff;
  margin: 10px auto;
  border-top-width: 2px;
}

.home-page .section-5 .card{
  border: 0px;
  border-radius: 0px;
  margin-top: 50px;
}

.home-page .section-5 .image{
  position: relative;
}

.home-page .section-5 .date{
  background-color:var(--white-color);
  width: 70px;
  height: 70px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.home-page .section-5 .date h6{
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  padding-top: 10px;
}

.home-page .section-5 .date p{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
  text-align: center;
}

.home-page .section-5 .card ul:first-of-type li{
  list-style-type: none;
  margin-left: 0px;
}

.home-page .section-5 .card ul:last-of-type li{
  list-style-type: none;
  margin-left: 15px;
}

.home-page .section-5 .card ul:last-of-type li i{
  margin-right: 5px;
}

.home-page .section-5 .card ul li a{
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: var(--light-gray-color);
  text-transform: capitalize;
}

.home-page .section-5 .card .card-title{
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  color: var(--blue-color);
  text-transform: capitalize;
}

.home-page .section-5 .card .card-text{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #606060;
}

.home-page .section-5 .card .btn-primary{
  font-size: 20px;
  font-weight: 400;
  color: #606060;
  background-color: transparent;
    border: none;
    color:var(--dark-gray-color);
    border-bottom: 1px solid #606060;
    padding: 0px;
    border-radius: 0px;
    margin-top: 10px;
    text-transform: capitalize;
}

.home-page .section-5 button{
  padding: 15px 40px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid var(--white-color);
  text-transform: uppercase;
  margin: 70px 0px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
}

/* End-section-5 */

/* section-6 */
.home-page .section-6{
  background-color: #fafafa;
  padding: 70px 0px;

}

/* section-6 */

/* footer */

footer{
  margin-top: 70px;
}
footer .top-footer h4{
  font-size: 25px;
  font-weight: 700;
  color: var(--blue-color);
  text-transform: uppercase;
  margin-bottom: 40px;
}

footer .top-footer .col-xxl-3:first-of-type ul{
  display: flex;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

footer .top-footer .col-xxl-3:first-of-type ul li:first-of-type{
  margin-right: 18px;
  list-style-type: none;

}


footer .top-footer ul li a{
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: var(--light-gray-color);
  font-family: "Raleway", sans-serif;

}

footer .top-footer ul li{
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--light-gray-color);
}

footer .top-footer p{
  font-size: 19px;
  line-height: 24px;
  font-weight: 400;
  color: var(--light-gray-color);
}

footer .top-footer input{
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  border-radius: 0px;
  padding: 2px 15px;
  border: 1px solid var(--light-gray-color);
}

footer .top-footer input::placeholder{
  color: var(--light-gray-color);
  font-size: 15px;
}

footer .top-footer textarea{
  margin-top: 18px;
  border-radius: 0px;
  border: 1px solid var(--light-gray-color);
}

footer .top-footer textarea::placeholder{
color: var(--light-gray-color);
font-size: 15px;
}

footer .top-footer button{
  margin-top: 15px;
  background-color: var(--blue-color);
  color: var(--white-color);
  text-transform: uppercase;
  border: transparent;
  padding: 5px 20px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  
}
footer .bottom-footer{
  padding: 20px;
  background-color: var(--sliver-color);
  margin-top: 60px;
}

footer .bottom-footer p{
  color: var(--light-gray-color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
 
}
footer .bottom-footer{
  position: relative;
}
footer .bottom-footer a{
  clip-path: polygon(50% 0, 50% 0, 100% 50%, 49% 100%, 49% 100%, 0% 50%);
  background-color: var(--blue-color);
  display: inline-block;
  height: 35px;
  width: 35px;
  position: absolute;
  top: -12px;
  right: 10%;
  text-decoration: none;
  color: var(--white-color);
  text-align: center;
}

/* End-footer */


@media screen and (min-width: 1440px) {
  .container{
    max-width: 1590px;
  }  
}

@media screen and (max-width: 1440px) {
  .home-page .section-3 .carousel-control-prev-icon {
 margin-right: 120px;
}
.home-page .section-3 .carousel-control-next-icon {
  margin-left: 120px;
 }
 
 .home-page .section-2 .about-section {
  background-position-y: bottom;
}

.home-page .about-section p {
  font-size: 18px;
}

.home-page .about-section ul li {
  font-size: 22px;
}
}

@media screen and (max-width: 1199px) {
  .section-2 .about-section{
    background-image: none;
  }

  .home-page .section-3 .carousel-control-prev-icon {
 margin-right: 0px;
}
.home-page .section-3 .carousel-control-next-icon {
  margin-left: 0px;
 }
 .home-page .section-3 .row {
  margin-top: 30px;
}
.home-page .section-2 .card{
  border-radius: 20px;
}


.home-page .section-2  .overlay {
  border-radius: 20px;
}
.home-page .section-2 .card::before {
  border-radius: 20px;
}

.home-page .section-2 .card-body {
  border-radius: 20px;
}
}


@media screen and (max-width: 991px) {

  .home-page .hero-section .carousel-item img {
    height:350px;
}

.home-page .hero-section .text-content {
top: 90px;
bottom: 0px;
}

.home-page .hero-section .carousel-indicators {
  bottom: 65px;
}
.home-page .hero-section button.carousel-control-prev {
  bottom: 40px;
}

.home-page .hero-section button.carousel-control-next {
  bottom: 40px;
}
.home-page .section-2 .card-row {
  top: -50px;
}
  .home-page .section-2 .about-section{
    background-image: none;
  }
  .home-page .section-2 .about-section-bg-imag{
    background-image: url(../images/Layer\ 7\ copy.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size:auto;
    height: 600px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0px;
  }

  header .bottom-header .search-btn {
    margin-left: 0px;
  }

  .home-page .hero-section .text-content {
    bottom: 50px;
  }
  .home-page .hero-section button.carousel-control-prev {
    top: 50px;
  }
  .home-page .hero-section button.carousel-control-next {
    top:50px;
  
  }


  .home-page .hero-section h6 {
    font-size: 22px;
  }

  .home-page .hero-section h2 {
    font-size: 32px;
  }

  .home-page .hero-section p {
    font-size: 15px;
  }
  .home-page .hero-section .blue-btn {
    margin-top: 10px;
    font-size: 12px;
    padding: 5px 10px;
  }



  .home-page .section-3 p {
    font-size: 20px;
    text-align: center;
    line-height: 25px;
 }

 .home-page .section-3 i.fa-solid.fa-quote-left {
  font-size: 25px;
  left: -30px;
}
.home-page .section-3 i.fa-solid.fa-quote-right {
  font-size: 25px;
}
  .home-page .section-5 .card {
    margin-top: 20px;
}

.home-page .section-5 .card .card-title {
  font-size: 22px;
  font-weight: 500;
}

.home-page .section-5 .card .card-text {
  font-size: 16px;
  line-height: 25px;
}

.home-page .section-5 .card .btn-primary {
  font-size: 16px;
}


}

@media screen and (max-width: 767px) {

  .home-page .hero-section .carousel-item img {
    height:350px;
}



  .home-page .hero-section .carousel-control-prev-icon {
    width: 1rem;
    height: 1.5rem;
 }
 .home-page .hero-section .carousel-control-next-icon {
  width: 1rem;
  height: 1.5rem;
}
  .home-page .section-3 h2 {
    font-size: 32px;
}
.home-page .section-3 .row {
  margin-top: 20px;
}
.home-page .section-3 p {
  font-size: 16px;
}

.home-page .section-3 i.fa-solid.fa-quote-left {
  font-size: 22px;
  left: 0px;
  top: -5px;
}

.home-page .section-3 i.fa-solid.fa-quote-right {
  font-size: 22px;
  bottom: -10px;
  padding-left: 5px;
}
.home-page .section-5 h2 {
  font-size: 32px;
}
.home-page .section-5 .card .card-title {
  font-size: 18px;
  line-height: 25px;
}
.home-page .section-4 h2 {
  font-size: 32px;
}
.home-page .section-5 .card .card-text {
  font-size: 14px;
  line-height: 24px;
}

.home-page .section-4 .box {
  background-color: #fafafa;
  margin: 20px 0px 20px 40px;
}

.hero-section .carousel-inner img {
  height: 320px;
}

}

@media screen and (max-width: 576px) {

  .home-page .hero-section .carousel-item img {
    height:300px;
}

.home-page .hero-section .carousel-indicators {
  bottom: 50px;
}

  .home-page .hero-section h6 {
    font-size: 16px;
  }
  .home-page .hero-section h2 {
    font-size: 25px;
  }

  .home-page .hero-section p {
    font-size: 12px;
  }
  .home-page .about-section span {
    font-size: 32px;
  }
  .home-page .about-section h2 {
    font-size: 32px;
  }
  .home-page .about-section p {
    font-size: 13px;
    line-height: 25px;
}
.home-page .about-section ul li {
  line-height: 30px;
  font-size: 18px;
}
.home-page .about-section ul {
  margin-bottom: 10px;
}

.home-page .section-3 p {
  font-size: 10px;
  line-height: 18px;
}

.home-page .section-3 i.fa-solid.fa-quote-left {
  position: absolute;
  font-size: 10px;
  left: 0px;
  top: -5px;
}

.home-page .section-3 i.fa-solid.fa-quote-right {
  position: absolute;
  font-size: 10px;
  bottom: 10px;
  padding-left: 5px;
}


footer .top-footer ul li a {
  font-size: 16px;
}

footer .top-footer ul li {
  font-size: 16px;
}

footer .top-footer p {
  font-size: 16px;
}

}
